List Slicing

In [16]:
# Create a list of first ten letters
alph_lst = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

# (a) Print the first three letters
print(alph_lst[0:3])  # ['a', 'b', 'c']

# Alternative using loop
for i in range(0, 3):
    print(alph_lst[i], end=", ")  # a, b, c,
print()

# (b) Print any three letters from the middle
print(alph_lst[4:7])  # ['e', 'f', 'g']

# (c) Print letters from a particular index to the end
print(alph_lst[4:])  # ['e', 'f', 'g', 'h', 'i', 'j']

['a', 'b', 'c']
a, b, c,
['e', 'f', 'g']
['e', 'f', 'g', 'h', 'i', 'j']

Sum using reduce()

In [17]:
from functools import reduce

def add(num1, num2):
    return num1 + num2

num_lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_of_numbers = reduce(add, num_lst)
print("Sum of the values in list:", sum_of_numbers)  # 55

Sum of the values in list: 55

Convert List to Tuple and vice versa

In [18]:
# Create a list
lst = ["a", "b", "c"]

# Create a tuple from the list
tple = tuple(lst)
print(tple)  # ('a', 'b', 'c')

# Convert tuple back to list
lst2 = list(tple)
print(lst2)  # ['a', 'b', 'c']

('a', 'b', 'c')
['a', 'b', 'c']

Tuple with a single element

In [19]:
# Tuple with elements "a", "b", "c"
tple = tuple("abc")
print(tple)      # ('a', 'b', 'c')
print(len(tple)) # 3

('a', 'b', 'c')
3

Dictionary and Bill Calculation

In [20]:
# Create dictionary of products and MRPs
products = {"laptop": 50000, "mouse": 2000, "keyboard": 5000}

# Calculate total bill
total_bill = sum(products.values())
print("Product bill:", total_bill)  # Product bill: 57000

Product bill: 57000

Empty Dictionary

In [21]:
# Create empty dictionary
captains = {}
print(captains)  # {}

{}

Adding Data to Dictionary

In [22]:
dic = {}
dic["Enterprise"] = "Picard"
dic["Voyager"] = "Janeway"
dic["Defiant"] = "Sisko"

# Adding a ship only if not present
if "Discovery" not in dic:
    dic["Discovery"] = "Unknown"

print(dic)
# {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko', 'Discovery': 'Unknown'}

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko', 'Discovery': 'Unknown'}

Display Ship and Captain Names

In [23]:
for ship_name, captain_name in dic.items():
    print(f"The {ship_name} is captained by {captain_name}")

The Enterprise is captained by Picard
The Voyager is captained by Janeway
The Defiant is captained by Sisko
The Discovery is captained by Unknown

Delete an Entry

In [24]:
# Delete "Discovery" from dictionary
del dic["Discovery"]
print(dic)
# {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

Create Dictionary from Tuples

In [25]:
key_value_pairs = (
    ('Enterprise', 'Picard'),
    ('Voyager', 'Janeway'),
    ('Defiant', 'Sisko'),
)

ships = dict(key_value_pairs)
print(ships)
# {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}