String Declaration

In [2]:
#Using str() Constructor  
s1 = str()  # create an empty string object
s2 = str("string declaration")
print(s2)  # Output: 'string declaration'

string declaration

In [3]:
#Using Quotation Marks
s1 = ""  # empty string
s2 = "Hello"
print(s2)  # Output: 'Hello'

Hello

Built-in Python Functions for Strings

In [4]:
string = "I love my country"
print(len(string))  # number of characters: 18
print(min(string))  # smallest character: ' '
print(max(string))  # largest character: 'y'

17

y

Accessing Characters in a String

In [9]:
name = "Robiul"
print(name[0])  
print(name[4]) 
print(name[-1]) 
print(name[-3]) 
print(name[4])
print(name[-2])  
print(name[-1])

R
u
l
i
u
u
l

Traversing a String

In [ ]:
# Method 1
for char in name:
    print(char, end="") 
print()

# Method 2
for i in range(len(name)):
    print(name[i], end="")

Traverse Every Second Character

In [10]:
sentence = "I love python programming"
for ch in range(0, len(sentence), 2):
    print(sentence[ch], end=" ")  # Output: I l v   y h n p o r m i g

I l v   y h n p o r m i g

String Slicing

In [11]:
s = "ROBIUL"
print(s[0:6])    
print(s[0:7])    
print(s[0:7:2])  
print(s[::])     
print(s[::-1])   
print(s[-1:0:-1])

ROBIUL
ROBIUL
RBU
ROBIUL
LUIBOR
LUIBO

String Operators

In [12]:
word1 = "Dhaka North City Corporation"
word2 = "Dhaka South City Corporation"
for letter in word1:
    if letter in word2:
        print(letter, end="")
# Output: Dhaka orth City Corporation

Dhaka orth City Corporation

String Comparison

In [13]:
s1 = "xyz"
s2 = "XYZ"

print(s1 == s2)   # False
print(s1 > s2)    # True (ASCII comparison)
print(s1.upper()) # 'XYZ'
s1 = s1.upper()
print(s1 == s2)   # True

False
True
XYZ
True

String Formatting

In [14]:
s = "My name is {} and I am from {}".format("Robiul", "Bangladesh")
print(s)  

s = "My name is {1} and I am from {0}".format("Robiul", "Bangladesh")
print(s)  

s = "I am {0} years old. I love to work on {pc} laptop".format(22, pc="HP")
print(s)

My name is Robiul and I am from Bangladesh
My name is Bangladesh and I am from Robiul
I am 22 years old. I love to work on HP laptop

Splitting Strings

In [15]:
str1 = "My name is Hasan"
print(str1.split())  

it_company = "Meta Google Microsoft Amazon OpenAI"
companies = it_company.split()
for company in companies:
    print(company)

['My', 'name', 'is', 'Hasan']
Meta
Google
Microsoft
Amazon
OpenAI

Testing Strings

In [17]:
s = "python"
print(s.isalnum())   # True
print("Python Programming".isalnum())  # False
print("Age23".isalnum())  # True
print("Age:23".isalnum()) # False

print("Robiul".isalpha())  # True
print("age45".isalpha())    # False

print("1234".isdigit())     # True
print("abc".isdigit())      # False

print("happy".islower())    # True
print("Happy".islower())    # False
print("HAPPY".isupper())    # True

print(" ".isspace())        # True

True
False
True
False
True
False
True
False
True
False
True
True

Searching Substrings

In [20]:
s = "python programming"
print(s.endswith("programming"))  # True
print(s.startswith("python"))     # True

s = "Robul HASAN"
print(s.find("HASAN"))   
print(s.rfind("b"))

True
True
6
2

Converting & Modifying Strings

In [22]:
s = "RoBiul HaSan"
print(s.capitalize()) 
print(s.lower())       
print(s.upper())       
print(s.title())       

s = "HASAN jisan"
print(s.swapcase())    

s = "I have brought two chocolates, two cookies and two cakes"
print(s.replace("two", "Three"))      # replaces all
print(s.replace("two", "Three", 2))   # replaces first 2 occurrences

Robiul hasan
robiul hasan
ROBIUL HASAN
Robiul Hasan
hasan JISAN
I have brought Three chocolates, Three cookies and Three cakes
I have brought Three chocolates, Three cookies and two cakes

Stripping Unwanted Characters

In [23]:
s = " my name is khan"
print(s.lstrip())  # remove leading whitespace

s = "my name is khan!!! \t \t \t"
print(s.rstrip())  # remove trailing whitespace

s = "\t \t my name is khan \t \t"
print(s.strip())   # remove leading & trailing whitespace

my name is khan
my name is khan!!!
my name is khan

String Alignment

In [24]:
s = "Apple Macos"
print(s.center(20))  # '    Apple Macos     '
print(s.ljust(15))   # 'Apple Macos    '
print(s.rjust(15))   # '    Apple Macos'

    Apple Macos
Apple Macos
    Apple Macos