Creating Tuples

In [1]:
# Empty tuple
t1 = ()

# Tuple with numeric elements
t2 = (12, 13, 14, 15)

# Tuple with strings
t3 = ("Robiul", "Hasan", "Jisan")

# Tuple without parentheses
t4 = "a", "b", "c", "d"

# Multiple tuples together
t = t1, t2, t3, t4
print(t)
# Output: ((), (12, 13, 14, 15), ('Emdadul', 'Hoque', 'Tareque'), ('a', 'b', 'c', 'd'))

# Single value in parenthesis is NOT a tuple
t5 = (4)
print(type(t5))  # <class 'int'>

# Single value with comma IS a tuple
t6 = (4,)
print(type(t6))  # <class 'tuple'>

((), (12, 13, 14, 15), ('Robiul', 'Hasan', 'Jisan'), ('a', 'b', 'c', 'd'))
<class 'int'>
<class 'tuple'>

In [4]:
# Creating tuple using tuple() function
string = "Robiul"
t1 = tuple(string)
print(t1)  # ('E', 'm', 'd', 'a', 'd', 'u', 'l')

# tuple() accepts only one argument


t2 = (["Robiul", 1, 2, 3], [1, 2, 3, 4])
print(t2)  # (['Emdadul', 1, 2, 3], [1, 2, 3, 4])

('R', 'o', 'b', 'i', 'u', 'l')
(['Robiul', 1, 2, 3], [1, 2, 3, 4])

Built-in Functions for Tuples

In [5]:
t2 = (1, 2, 3, 4)
print(sum(t2))  # 10

t4 = (1, 2, 3, 4, 100, -100, 20, 30, 3, 4, 5)
print(max(t4))   # 100
print(min(t4))   # -100
print(t4.index(-100))  # 5
print(t4.count(3))     # 2

10
100
-100
5
2

Tuple Indexing & Slicing

In [6]:
t5 = (1, 2, 3, 4, 5, 6)
print(t5[4], t5[3])  # (5, 4)
print(t5[::-1])       # (6, 5, 4, 3, 2, 1)
print(t5[::2])        # (1, 3, 5)
print(t5[2:4])        # (3, 4)

5 4
(6, 5, 4, 3, 2, 1)
(1, 3, 5)
(3, 4)

Tuple Operations

In [7]:
# Concatenation
t1 = (1, 2, 3)
t2 = (4, 5, 6)
t1 = t1 + t2
print(t1)  # (1, 2, 3, 4, 5, 6)

# Concatenation with single element
t1 + (" ",)  # (1, 2, 3, 4, 5, 6, ' ')

# Repetition
t3 = (2, 3, 4)
t3 = t3 * 3
print(t3)  # (2, 3, 4, 2, 3, 4, 2, 3, 4)

(1, 2, 3, 4, 5, 6)
(2, 3, 4, 2, 3, 4, 2, 3, 4)

Traversing Tuples

In [8]:
t = [(1, "Robiul"), (2, "Hasan"), (3, "Jisan")]
for no, name in t:
    print(no, name)
# Output:
# 1 Emdadul
# 2 Hoque
# 3 Tareque

1 Robiul
2 Hasan
3 Jisan

The zip() Function

In [9]:
lst1 = [1, 2, 3, 4]
lst2 = "abcd"
print(list(zip(lst1, lst2)))  
# [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

# Example with prices
products = ["Laptop", "Mobile", "Headphone"]
prices = [100000, 12000, 5000]
tpl = tuple(zip(products, prices))
print(tpl)
# (('Laptop', 100000), ('Mobile', 12000), ('Headphone', 5000))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
(('Laptop', 100000), ('Mobile', 12000), ('Headphone', 5000))

Inverse Zip (*) Function

In [10]:
product, price = zip(*tpl)
print(product)  # ('Laptop', 'Mobile', 'Headphone')
print(price)    # (100000, 12000, 5000)
print(type(product))  # <class 'tuple'>

# Example with a matrix
matrix = [(1, 2), (3, 4), (5, 6)]
z = zip(*matrix)
print(tuple(z))  # ((1, 3, 5), (2, 4, 6))

('Laptop', 'Mobile', 'Headphone')
(100000, 12000, 5000)
<class 'tuple'>
((1, 3, 5), (2, 4, 6))

Creating Sets

In [11]:
s1 = {1, 2, 3, 4, 5}
print(s1)  # {1, 2, 3, 4, 5}

# Empty set
s2 = set()
print(s2)  # set()

# Convert list to set (unique values)
lst = [1, 2, 3, 4, 5, 2, 2, 3, 1, 4, 3]
s = set(lst)
print(s)  # {1, 2, 3, 4, 5}

# Membership operators
s = {1, 2, 3, 4}
print(3 in s)    # True
print(4 not in s) # False

{1, 2, 3, 4, 5}
set()
{1, 2, 3, 4, 5}
True
False

Set Methods

In [12]:
s = {10, 20, 30, 40, 50, 60}
s.add(70)       # Add element
s.remove(30)    # Remove element
s.clear()       # Remove all elements

# Subset & Superset
s1 = {1, 2, 3, 4}
s2 = {1, 2, 3, 4, 5}
print(s1.issubset(s2))  # True
print(s2.issuperset(s1)) # True

True
True

Set Operations

In [13]:
s1 = {1, 2, 3, 4, 5}
s2 = {2, 4, 5, 6}

print(s1.union(s2))              # {1, 2, 3, 4, 5, 6}
print(s1.intersection(s2))       # {2, 4, 5}
print(s1.difference(s2))         # {1, 3}
print(s1.symmetric_difference(s2)) # {1, 3, 6}

{1, 2, 3, 4, 5, 6}
{2, 4, 5}
{1, 3}
{1, 3, 6}

Zip Function with Sets

In [14]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {10, 20, 30, 40, 50, 60}
s3 = set(zip(s1, s2))
print(s3)
# {(1, 50), (2, 20), (3, 40), (4, 10), (5, 60), (6, 30)}

{(3, 40), (4, 10), (5, 60), (1, 50), (2, 20), (6, 30)}