Problem 1: List Slicing

Task:
Create a list of numbers from 1 to 10.

(a) Print the first 5 numbers.

(b) Print the last 3 numbers.

(c) Print every second number in the list.

In [1]:
numbers = list(range(1, 11))  # [1,2,3,4,5,6,7,8,9,10]

# (a) First 5 numbers
print(numbers[:5])  # [1, 2, 3, 4, 5]

# (b) Last 3 numbers
print(numbers[-3:])  # [8, 9, 10]

# (c) Every second number
print(numbers[::2])  # [1, 3, 5, 7, 9]

[1, 2, 3, 4, 5]
[8, 9, 10]
[1, 3, 5, 7, 9]

Problem 2: Sum using reduce()

Task: Calculate the sum of even numbers from 1 to 20.

In [3]:
from functools import reduce

nums = list(range(1, 21))
even_nums = [n for n in nums if n % 2 == 0]

sum_even = reduce(lambda a, b: a + b, even_nums)
print(sum_even)  # 110

110

Problem 3: Convert List ↔ Tuple

Task:

Create a list ["x", "y", "z"] and convert it to a tuple.

Convert the tuple back to a list.

In [4]:
lst = ["x", "y", "z"]
tple = tuple(lst)
print(tple)  # ('x', 'y', 'z')

lst2 = list(tple)
print(lst2)  # ['x', 'y', 'z']

('x', 'y', 'z')
['x', 'y', 'z']

Problem 4: Single-element Tuple

Task: Create a tuple with only one element "Python" and print its type.

In [5]:
t = ("Python",)
print(t)        # ('Python',)
print(type(t))  # <class 'tuple'>

('Python',)
<class 'tuple'>

Problem 5: Dictionary Bill Calculator

Task:
A customer buys items: {"pen": 50, "notebook": 200, "eraser": 30}. Calculate the total bill.

In [6]:
products = {"pen": 50, "notebook": 200, "eraser": 30}
total = sum(products.values())
print("Total bill:", total)  # Total bill: 280

Total bill: 280

Problem 6: Dictionary Update

Task:
You have an empty dictionary captains = {}. Add the following ships:

"Enterprise": "Picard"

"Voyager": "Janeway"

"Defiant": "Sisko"

If "Discovery" doesn’t exist, set it to "Unknown"

In [7]:
captains = {}
captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisko"

if "Discovery" not in captains:
    captains["Discovery"] = "Unknown"

print(captains)

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko', 'Discovery': 'Unknown'}

Problem 7: Traverse Dictionary

Task: Print: "The <ship> is captained by <captain>" for all ships in the captains dictionary.

In [ ]:
for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}")

Problem 8: Tuple Odd Index

Task: Given t = (10, 20, 30, 40, 50), create a new tuple with elements at odd indices.

In [8]:
t = (10, 20, 30, 40, 50)
odd_index_tuple = t[1::2]
print(odd_index_tuple)  # (20, 40)

(20, 40)

Problem 9: Set Operations

Task:

s1 = {1, 2, 3, 4}

s2 = {3, 4, 5, 6}
Perform:

Union

Intersection

Difference s1 - s2

Symmetric Difference

In [9]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

print(s1 | s2)   # Union: {1, 2, 3, 4, 5, 6}
print(s1 & s2)   # Intersection: {3, 4}
print(s1 - s2)   # Difference: {1, 2}
print(s1 ^ s2)   # Symmetric Difference: {1, 2, 5, 6}

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

You are managing a small bookstore. Perform the following tasks using Python:

Strings:

You have a string book_title = "Python Programming Essentials".

Print the first 6 characters, the last 9 characters, and every second character.

Lists:

Create a list book_prices = [250, 300, 150, 400, 500].

Print the first 3 prices, the last 2 prices, and the total sum of prices.

Tuples:

Convert the list book_prices into a tuple called book_prices_tuple.

Find the maximum and minimum price.

Create a new tuple discounted = book_prices_tuple * 2 (simulate repeating the prices for 2 weeks).

Sets:

You have a list of sold books sold_books = ["Python", "Java", "Python", "C++", "Java"].

Convert it into a set to find unique books sold.

Check if "Python" and "JavaScript" are in the set.

Dictionaries:

Create a dictionary book_stock = {"Python": 5, "Java": 3, "C++": 2}.

Add a new book "JavaScript" with 4 copies.

Print all books and their stock in the format: "Book Python has 5 copies".

Remove the book "C++" from the dictionary.

In [10]:
# 1. Strings
book_title = "Python Programming Essentials"
print("First 6 characters:", book_title[:6])        # Python
print("Last 9 characters:", book_title[-9:])       # Essentials
print("Every second character:", book_title[::2])  # Pto rgamnEsntals

print("\n")

# 2. Lists
book_prices = [250, 300, 150, 400, 500]
print("First 3 prices:", book_prices[:3])          # [250, 300, 150]
print("Last 2 prices:", book_prices[-2:])          # [400, 500]
print("Total sum of prices:", sum(book_prices))    # 1600

print("\n")

# 3. Tuples
book_prices_tuple = tuple(book_prices)
print("Tuple of prices:", book_prices_tuple)       # (250, 300, 150, 400, 500)
print("Max price:", max(book_prices_tuple))        # 500
print("Min price:", min(book_prices_tuple))        # 150

discounted = book_prices_tuple * 2
print("Discounted tuple:", discounted)             # (250, 300, 150, 400, 500, 250, 300, 150, 400, 500)

print("\n")

# 4. Sets
sold_books = ["Python", "Java", "Python", "C++", "Java"]
unique_books = set(sold_books)
print("Unique books sold:", unique_books)          # {'Python', 'Java', 'C++'}

print("Is 'Python' sold?", "Python" in unique_books)      # True
print("Is 'JavaScript' sold?", "JavaScript" in unique_books)  # False

print("\n")

# 5. Dictionaries
book_stock = {"Python": 5, "Java": 3, "C++": 2}
book_stock["JavaScript"] = 4

# Print all books and stock
for book, stock in book_stock.items():
    print(f"Book {book} has {stock} copies")

# Remove "C++"
del book_stock["C++"]
print("Updated stock:", book_stock)

First 6 characters: Python
Last 9 characters: ssentials
Every second character: Pto rgamn setas


First 3 prices: [250, 300, 150]
Last 2 prices: [400, 500]
Total sum of prices: 1600


Tuple of prices: (250, 300, 150, 400, 500)
Max price: 500
Min price: 150
Discounted tuple: (250, 300, 150, 400, 500, 250, 300, 150, 400, 500)


Unique books sold: {'Python', 'C++', 'Java'}
Is 'Python' sold? True
Is 'JavaScript' sold? False


Book Python has 5 copies
Book Java has 3 copies
Book C++ has 2 copies
Book JavaScript has 4 copies
Updated stock: {'Python': 5, 'Java': 3, 'JavaScript': 4}